html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@media screen and (max-width: 700px){
    h1 {
        margin: 0.5em 0;
    }
}

.hide {
    display: none !important;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    max-width: 90%;
    min-height: 680px;
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: background 0s 0.15s, font-size 0s 0.15s, -webkit-transform 0.3s ease-in-out;
    transition: background 0s 0.15s, font-size 0s 0.15s, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, background 0s 0.15s, font-size 0s 0.15s;
    transition: transform 0.3s ease-in-out, background 0s 0.15s, font-size 0s 0.15s;
    transition: transform 0.3s ease-in-out, background 0s 0.15s, font-size 0s 0.15s, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    margin: 8px;
}



.deck .card.open {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    cursor: default;
    background: #02b3e4;
    font-size: 33px;
}

.deck .card.match {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.deck .card.incorrect {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    cursor: default;
    background: #da4d31;
    font-size: 33px;
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

@media screen and (max-width: 700px){
    .deck {
        padding: 1em;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }
    
    .deck .card {
        width: 26%;
        padding-bottom: 26%;
        height: 0;
        position: relative;
    }
    
    .deck .card i {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .deck .card.open, .deck .card.match, .deck .card.incorrect{
        font-size: 25px;
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 400px;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 700px){
    .score-panel {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .score-panel .timer, .score-panel .rating, .score-panel .restart {
        margin: 5px 0;
    }
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .stars i {
    color: #aaaaaa;
    font-size: 1.2em;
    text-shadow: 3px 3px 10px rgba(46, 61, 73, 0.15);
}

.score-panel .stars i.awarded {
    color: #f5c70e;
    font-size: 1.2em;
}

.score-panel .timer, .score-panel .moves{
    font-family: 'Roboto Mono', monospace;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.score-panel .restart:hover {
    opacity: 0.5;
}


/* Modal */

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: scroll;
}

.modal-container {
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    width: 550px;
    max-width: 85%;
    min-height: 300px;
    margin: 40px;
/*    max-height: 85%;*/
    -webkit-border-radius: 10px;
            border-radius: 10px;
    position: relative;
    text-align: center;
    color: #ffffff;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 2em 2.5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.modal-container button{
    border: none;
    background: #ffffff;
    padding: 1em 1.2em;
    font-size: 1em;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
            box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    -o-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.modal-container button:hover, .modal-container button:active{ 
    background: #e3e3e3;
}

.modal-container .modal-deck{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0;
}

.modal-container .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 15px;
    background: #02ccba;
    font-size: 33px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

@media screen and (max-width: 700px){
    .modal-container{
        padding: 1em 1.5em;
    }
    
    .modal-container p {
        margin-top: 0;
    }
    
    .modal-container .card {
        height: 70px;
        width: 70px;
        font-size: 20px;
        margin: 8px;
    }
    
    .modal-container .modal-deck{
        margin: 0;
    }
}

.modal-container .highlight-text {
    font-size: 1.2em;
    font-weight: 700;
    font-style: italic;
    padding: 0 10px;
}
.rating-result {
    margin-bottom: 15px;
}

.rating-result .stars {
    padding: 0;
    margin: 0;
}
.rating-result li {
    list-style: none;
    display: inline-block;
    padding: 0 0.2em;
}

.rating-result .stars i {
    color: #e3e3e3;
    font-size: 2em;
    text-shadow: 3px 3px 10px rgba(46, 61, 73, 0.15);
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.rating-result .stars li:nth-child(1) i{
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
}
.rating-result .stars li:nth-child(2) i{
    font-size: 3em;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.rating-result .stars li:nth-child(3) i{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.rating-result .stars i.awarded{
    color: #f5c70e;
}

